body {
    background: #101010;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  /* Estilos para los campos del formulario */
  input,
  button {
    padding: 10px 20px; /* Más espacio en los lados */
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    outline: none;
    /* Agrega más estilos según tus preferencias */
  }

  /* Estilos para el botón */

button {
  cursor: pointer;
  background-color: #07098e;
  color: white;
  border: none;
  transition: background-color 0.3s;
  text-transform: uppercase;
}

button:hover {
  background-color: rgb(27, 162, 27);
  transition: background-color 0.3s;
}
  
  /*button {
    cursor: pointer;
    background-color: #0078d4;
    color: white;
  } */

  span {
    display: block;
    color: red;
    font-size: small;
  }

/* Estilos para los enlaces generados con <Link> */

/* Estilo base para el enlace */
.Link {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(20, 18, 18);
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-right: 10px;
  margin-top: 10px; /* Aumenta el margen superior para dar espacio */
  border: none; /* Elimina el borde */
}

.Link:hover {
  background-color: rgb(27, 162, 27); /* Cambia el color al pasar el mouse */
}

/* Estilo para enlace activo (cuando la página actual coincide con la URL del enlace) */
.Link.active {
  background-color: #00CC66;
}

/* Estilo para enlace inactivo */
.Link.inactive {
  background-color: #DDDDDD;
  color: #555555;
  cursor: not-allowed;
  text-decoration: none; /* Elimina la línea subrayada */
}

/* ESTILOS PARA EL MENU*/

  
.container2 {
  height: 100vh;
  width: 200dvh;
}
 

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #222;
  padding: 20px;
  width: 200px;
  margin-top: 5%;
  margin-left: 2%;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5%;
  color: #00CC66;
}

.menu {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

a:hover {
  background-color: #444;
}

.cerrar-sesion {
  margin-top: 5%;
  margin-bottom: 20px;
  align-self: flex-end;
  margin-right: 84%;
}

/* ESTILOS PARA EL FORMULARIO*/
/* index.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Estilo para el contenedor principal que ocupa toda la pantalla */
.container1 {
  width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4; /* Puedes ajustar el color de fondo según tus preferencias */
}

/* Estilo para el título centrado */
.titulo1 {
  font-size: 24px;
  text-align: center;
  color: #333;
}

/* Estilo para el contenedor del formulario */
.containerf {
  width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 10px;
}


/* Estilo para el formulario */
.form1 {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.titulo2 {
  text-align: center;
  color: #00CC66;
}


/* Estilos de la tabla de usuarios*/
.temp-header {
  background-color: red;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


/* Resto de tus estilos... */



